{
  "presets": ["next/babel"],
  "plugins": [
     ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@Component": "./components",
        "@Redux": "./redux",
        "@Layout": "./layout"
      }
    }]
  ]
}